$color-white            :  #FFFFFF;
$color-black            :  #000000;
$color-light_white      :  #EEEEEE;
$color-indigo           :  #2A3D42;
$color-dark_green       :  #355957;
$color-light_green      :  #C1CDCA;
$color-salmon           :  #F4997E;
$color-light_orange     :  #F5AF9A;
$color-light_red        :  #FFE9D2;
$color-dark_gray        :  #3D3F40;
$color-gray             :  #535B5B;
$color-silver           :  #A7A7A7;