@mixin d-flex($justify, $align) {
   justify-content: $justify;
   align-items: $align;
}

@mixin bg-center {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   transition: all .5s ease-in-out;
}

@mixin fonts-display($weight) {
   font-family: 'Raleway', sans-serif;
   font-weight: $weight;
}