@mixin f-center {
   align-items: center;
   justify-content: center;
}

@mixin bg-center {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

@mixin fonts-display($weight) {
   font-family: 'Raleway', sans-serif;
   font-weight: $weight;
}