// Fonts
$f-big         :  40px;
$f-title       :  32px;
$f-height      :  18px;
$f-normal      :  14px;
$f-small       :  13px;

$f-btn__medium :  16px;
$f-btn__small  :  14px;

// Leetter space
$space2        :  2%;

