// Fonts
$f-big         :  40px;
$f-title       :  32px;
$f-height      :  18px;
$f-normal      :  14px;
$f-small       :  13px;

$f-btn__medium :  16px;
$f-btn__small  :  14px;

// Transition
$tr3: all ease-in-out .3s;
$tr5: all ease-in-out .5s;

// Border-Radius
$r-input: 4px;

