@mixin marco() {
  $tamano: var(--tamano);
  box-sizing: border-box;
  border-style: solid;
  @if $tamano == "large" {
    border-width: var(--tamano);
    -moz-border-image: var(--frame-image);
    -webkit-border-image: var(--frame-image);
    -o-border-image: var(--frame-image);
    border-image: var(--frame-image);
  } @else if $tamano == "medium" {
    border-width: var(--tamano);
    -moz-border-image: var(--frame-image);
    -webkit-border-image: var(--frame-image);
    -o-border-image: var(--frame-image);
    border-image: var(--frame-image);
  } @else {
    border-width: var(--tamano);
    -moz-border-image: var(--frame-image);
    -webkit-border-image: var(--frame-image);
    -o-border-image: var(--frame-image);
    border-image: var(--frame-image);
  }
}
#sigle-product-vue {
  .box {
    display: flex;
    width: 90%;
    justify-content: flex-end;
    margin-bottom: 2rem;
    height: 100vh;
    align-items: center;
    &__image {
      flex: 1;
      display: flex;
      justify-content: center;
      height: 500px;
      align-items: center;
      background-color: var(--bg-color);
      @include mq($from: mobile, $until: tablet) {
        height: 350px;
      }
    }
  }
  select {
    height: 2rem;
    width: 7rem;
    margin-bottom: 3rem;
  }
  img {
    max-width: 800px;
    max-height: 400px;
  }
  .inner {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100%);
    height: calc(100%);
    -webkit-box-shadow: inset 164px 166px 7px -163px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: inset 164px 166px 7px -163px rgba(0, 0, 0, 0.62);
    box-shadow: inset 164px 166px 7px -163px rgba(0, 0, 0, 0.62);
    @include mq($from: mobile, $until:tablet) {
      width: unset;
    }
  }
  .radios {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
  }
  .frame-picture {
    width: auto;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 10px 10px 23px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 23px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 23px -15px rgba(0, 0, 0, 0.75);
    @include mq($from:mobile, $until:tablet) {
      max-height: 100%;
      img {
        max-width: 100% !important;
        height: auto !important;
        width: unset !important;
        max-height: unset;
        min-height: auto;
      }
    }
  }
  .withFrame {
    @include marco();
  }
  .none {
    background-color: transparent;
    .inner {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
}
