.woocommerce-cart {
   .woocommerce {
      max-width: 1140px; 
      padding: 80px 15px;
      margin: 0 auto;
      font-size: 13px;
   }
   .woocommerce-notices-wrapper {
      display: none;
   }
}

h2.w-cart__title {
   color: $color-indigo;
   font-size: 22px;
   margin-bottom: 20px;
   text-align: center;
   @include fonts-display(700);
}

.w-cart__form {
   .w-cart__table {
      border-radius: 0 !important;
      // Titles
      thead {
         .w-cart__table--name,
         .w-cart__table--price,
         .w-cart__table--quantity,
         .w-cart__table--subtotal {
            color: $color-dark_gray;
            font-size: 14px;
            text-transform: uppercase;
            @include fonts-display(700);
         }
         .w-cart__table--price,
         .w-cart__table--quantity,
         .w-cart__table--subtotal {
            text-align: center;
         }
      }
      // Descriptions
      tbody {
         .w-cart__table--remove {
            a {
               margin: 0 auto;
               background: #EB5757;
               color: $color-white !important;
               font-size: 17px;
            }
         }
         .w-cart__table--thumbnail {
            display: flex;
            @include f-center(center, center);
            img {
               width: 40px;
            }
         }
         .w-cart__table--name {
            a {
               color: $color-indigo;
               letter-spacing: 0.03em;
               @include fonts-display(700);
               span {
                  color: #A7A7A7;
                  font-weight: 500;
               }
            }
         }
         .w-cart__table--price,
         .w-cart__table--subtotal {
            text-align: center;
            span {
               color: $color-indigo;
               text-align: center;
               @include fonts-display(700);
               span {
                  color: #D2D2D2;
                  margin-right: 5px;
               }
            }
         }
         .w-cart__table--quantity {
            text-align: center;
            .quantity {
               input {
                  color: $color-indigo;
                  text-align: center;
                  border: 1px solid #d2d2d2 !important;
                  -webkit-appearance: none;
                  @include fonts-display(700);
               }
            }
         }
      }
      // Coupons
      .w-cart__actions {
         button {
            background-color: rgba(229, 229, 229, 0.15);
            border: 1px solid $color-dark_green;
            color: $color-indigo;
            width: 205px;
            border-radius: 0;
            text-transform: uppercase;
            letter-spacing: 0.03em;
            transition: $tr3;
            @include fonts-display(600); 
            &:hover {
               background-color: $color-salmon;
               border: 1px solid $color-salmon;
               color: $color-white;
            }
            &:disabled {
               &:hover {
                  background-color: rgba(229, 229, 229, 0.15);
                  border: 1px solid $color-dark_green;
                  color: $color-indigo;
               }
            }
         }
         .w-cart__coupon {
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            &--input {
               width: 205px !important;
               margin: 0 10px !important;
               border: 1px solid #D2D2D2 !important;
               &::placeholder {
                  color: $color-indigo;
                  text-align: center;
                  color: $color-silver;
                  text-transform: uppercase;
                  letter-spacing: 0.03em;
                  background-color: rgba(229, 229, 229, 0.15);
                  @include fonts-display(700);
               }
            }
            button {
               width: 170px;
            }
         }
      }
   }
   @include mq($from: mobile, $until: desktop) {
      .w-cart__table {
         border: 0 !important;
         padding-left: 25px !important;
         tbody {
            tr {
               margin-bottom: 20px;
               border: 1px solid rgba($color: #000000, $alpha: .1);  
               td {
                  &:first-child {
                     border-top: 0 !important;
                  }
                  &.w-cart__table--remove {
                     position: absolute;
                     left: 0;
                  }
                  &.w-cart__table--quantity,
                  &.w-cart__table--subtotal {
                     display: none;
                  }
               }
            }
         }
         .w-cart__actions {
            .w-cart__coupon {
               width: 100%;
               &--input {
                  width: 99% !important;
                  margin-left: 0 !important;
                  font-size: 14px;
               }
               button {
                  width: 100% !important;
               }
            }
         }
      }
   }
   @include mq($from: mobile, $until: tablet) {
      .w-cart__table {
         padding-left: 17px !important;
         tbody {
            tr {
               td {
                  &.w-cart__table--remove {
                     position: absolute;
                     left: -5px;
                  }
               }
            }
         }
         .w-cart__actions {
            .w-cart__coupon {
               &--input {
                  font-size: 10px;
               }
               button {
                  font-size: 12px;
               }
            }
         }
      }
   }
}

.w-cart__total {
   h2 {
      color: $color-indigo;
      font-size: 22px;
      margin-bottom: 20px;
      text-align: center;
      @include fonts-display(700);
   }
   table{
      border-radius: 0 !important;
      tbody {
         tr {
            th {
               color: $color-indigo;
               font-size: 12px;
               text-align: center;
               text-transform: uppercase;
               @include fonts-display(700);
            }
            td {
               span {
                  color: $color-indigo;
                  text-align: center;
                  @include fonts-display(700);
                  span {
                     color: #D2D2D2;
                     margin-right: 5px;
                  }
               }
            }
         }
      }
   }
   a {
      width: 100%;
      background-color: $color-indigo !important;
      color: $color-white !important;
      height: 50px;
      border-radius: 0 !important;
      text-transform: uppercase;
      letter-spacing: .02em;
      transition: $tr3;
      @include fonts-display(600);
      &:hover {
         background-color: $color-salmon !important;
      }
   }
   @include mq($from: mobile, $until: tablet) {
      a {
         font-size: 16px !important;
         height: auto;
         padding: 15px !important;
      }
   }
}

.w-cart__btn {
   a.button {
      padding: 15px 20px !important;
      background-color: $color-indigo !important;
      color: $color-white !important;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      line-height: 1.2 !important;
      border-radius: 0;
      transition: $tr3;
      @include fonts-display(200);
      @include mq($from:desktop) {
         &:hover,
         &:active {
            color: $color-white !important;
            text-decoration: none;
            background-color: $color-light_orange !important;
         }
      }
      &:disabled {
         background-color: rgba($color: $color-indigo, $alpha: .5);
      }
      @include mq($from: tablet, $until: desktop) {
         padding: 18px 20px;
         font-size: 12px;
      }
      @include mq($from: mobile, $until: tablet) {
         padding: 18px 20px;
         font-size: 14px;
      }
   }
}