form.w-checkout__container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   max-width: 1140px;
   margin: 0 auto;
   padding:  0 15px;
   .woocommerce-NoticeGroup.woocommerce-NoticeGroup-checkout {
      flex: 0 0 100%;
   }
   .col2-set {
      width: 45%;
      display: flex;
      flex-direction: column;
      .col-1,
      .col-2 {
         flex: 0 0 100%;
         max-width: 100%;
         width: 100%;
         h3 {
            color: $color-indigo;
            font-size: 14px;
            text-transform: uppercase;
            margin-bottom: 50px;
            @include fonts-display(700);
         }
      }
      .col-1 {
         .woocommerce-billing-fields {
            .form-row {
               label {
                  width: 100%;
                  font-size: 12px;
                  color: $color-dark_gray;
                  text-transform: uppercase;
                  @include fonts-display(700);
               }
               & > span {
                  width: 100%;
                  input {
                     height: 48px;
                     border: 1px solid #D2D2D2;
                     width: 100%;
                     padding: 10px 15px;
                     margin-bottom: 15px;
                  }
                  .select2-selection {
                     height: 48px;
                     border: 1px solid #D2D2D2;
                     .select2-selection__rendered {
                        height: 100%;
                        display: flex;
                        align-items: center;
                     }
                     .select2-selection__arrow {
                        height: 100%;
                     }
                  }
               }
            }
         }
      }
      .col-2 {
         .woocommerce-additional-fields {
            h3 {
               margin-bottom: 15px;
            }
            .form-row {
               label {
                  width: 100%;
                  font-size: 12px;
                  color: $color-dark_gray;
                  text-transform: uppercase;
                  @include fonts-display(700);
               }
               & > span {
                  width: 100%;
                  textarea {
                     min-height: 108px;
                     border: 1px solid #D2D2D2;
                     width: 100%;
                     padding: 10px 15px;
                     margin-bottom: 100px;
                  }
               }
            }
         }
      }
   }
   #order_review_heading {
      // position: relative;
      // left: 90px;
      display: block;
      white-space: nowrap;
      color: $color-indigo;
      font-size: 14px;
      text-transform: uppercase;
      margin-bottom: 50px;
      z-index: 1;
      @include fonts-display(700);
   }
   .woocommerce-checkout-review-order {
      width: 50%;
      // margin-top: 50px;
      position: relative;
      z-index: 2;
      table.shop_table {
         border-radius: 0;
         border: 1px solid #D2D2D2;
         thead {
            th {
               font-size: 12px;
               text-transform: uppercase;
               z-index: 1;
               @include fonts-display(700);
            }
         }
         tbody {
            td.product-name {
               font-size: 12px;
               text-transform: uppercase;
               z-index: 1;
               @include fonts-display(700);
            }
            td.product-total {
               span {
                  color: $color-indigo;
                  text-align: center;
                  font-size: 12px;
                  @include fonts-display(700);
                  span {
                     color: #D2D2D2;
                     margin-right: 5px;
                  }
               }
            }
         }
         tfoot {
            th {
               font-size: 12px;
               text-transform: uppercase;
               z-index: 1;
               @include fonts-display(700);
            }
            td {
               span {
                  color: $color-indigo;
                  text-align: center;
                  font-size: 12px;
                  @include fonts-display(700);
                  span {
                     color: #D2D2D2;
                     margin-right: 5px;
                  }
               }
            }
         }
      }
      .woocommerce-checkout-payment {
         font-size: 13px;
         color: $color-dark_gray;
         button {
            width: 100%;
            height: 50px;
            background-color: $color-indigo;
            color: $color-white;
            text-transform: uppercase;
            font-size: 16px;
            transition: $tr3;
            @include fonts-display(700);
            &:hover {
               background-color: $color-salmon;
            }
         }
      }
   }
   @include mq($from: mobile, $until: desktop) {
      flex-direction: column;
      .col2-set {
         width: 100%;
         .col-1 {
            h3 {
               font-size: 16px;
               margin-bottom: 30px;
            }
            .woocommerce-billing-fields {
               .form-row {
                  &.form-row-first,
                  &.form-row-last {
                     float: none;
                     width: 100%;
                  }
                  & > span {
                     input {
                        height: 40px;
                        font-size: 14px;
                     }
                     .select2-selection {
                        height: 40px;
                        border: 1px solid #D2D2D2;
                        font-size: 14px;
                     }
                  }
               }
            }
         }
         .col-2 {
            .woocommerce-additional-fields {
               h3 {
                  font-size: 16px;
                  margin-bottom: 15px;
               }
               .form-row {
                  label {
                     width: 100%;
                     font-size: 12px;
                     color: $color-dark_gray;
                     text-transform: uppercase;
                     @include fonts-display(700);
                  }
                  & > span {
                     width: 100%;
                     textarea {
                        min-height: 108px;
                        border: 1px solid #D2D2D2;
                        width: 100%;
                        padding: 10px 15px;
                        margin-bottom: 50px;
                        font-size: 14px;
                     }
                  }
               }
            }
         }
      }
      #order_review_heading {
         left: auto;
         margin: 0 0 20px;
         font-size: 16px;
      }
      .woocommerce-checkout-review-order {
         width: 100%;
         padding: 0 15px;
         margin-bottom: 50px;
         .woocommerce-checkout-payment {
            button {
               height: auto;
               font-size: 16px;
               padding: 15px;
            }
         }
      }
   }
}