.woocommerce-lost-password {
   .woocommerce {
      max-width: 1140px; 
      padding: 120px 15px;
      margin: 0 auto;
      width: 35%;
      h2 {
         color: $color-indigo;
         font-size: 22px;
         margin-bottom: 20px;
         @include fonts-display(700);
      }
      form.woocommerce-ResetPassword {
         font-size: 13px;
         color: $color-indigo;
         .woocommerce-form-row {
            width: 100%;
            label {
               width: 100%;
               font-size: 12px;
               color: $color-dark_gray;
               text-transform: uppercase;
               @include fonts-display(700);
            }
            input {
               height: 45px;
               border: 1px solid #D2D2D2;
               width: 100%;
               padding: 10px 15px;
            }
         }
         button {
            width: 100%;
            background-color: $color-indigo;
            color: $color-white;
            height: 50px;
            border-radius: 0;
            text-transform: uppercase;
            letter-spacing: .02em;
            text-align: center;
            @include fonts-display(400);
            &:hover {
               background-color: $color-salmon;
            }
         }
      }

   }
}