* {
  margin: 0;
  padding: 0;
  outline: none;
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  button {
    border: none;
  }
}
body,
html {
  background-color: rgba($color: #e5e5e5, $alpha: 0.15);
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
  @include mq($from: wide) {
    .woocommerce {
      min-height: 55vh;
    }
  }
}

#app {
  // height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.alerta {
  position: absolute;
  bottom: -20px;
  p {
    color: $color-salmon;
    font-size: 12px;
    margin: 8px 0 0;
  }
}
.lg-image {
  max-height: 80vh !important;
}

/*-------------------------------------------*\

🚫 ¡ Don't DELETE THIS .grecaptcha-badge ! 🚫
👉 This code is hiding the recaptcha badge 👈
\*-------------------------------------------*/

.grecaptcha-badge {
  display: none !important;
}
