.page-composiciones {
   padding-bottom: 100px;
   &__grid {
      display: flex;
      flex-wrap: wrap;
      padding: 20px 0;
      margin: 0 -15px;
      .cards {
         flex: 0 0 25%;
         max-width: 25%;
         padding: 20px 0;
         &.test {
            flex: 0 0 33% !important;
            max-width: 33% !important;
         }
      }
   }
   @include mq($from: tablet, $until: desktop) {
      &__grid {
         .cards {
            flex: 0 0 33.333%;
            max-width: 33.333%;
         }
      }
   }
   @include mq($from: mobile, $until: tablet) {
      padding-bottom: 60px;
      &__grid {
         .cards {
            flex: 0 0 50%;
            max-width: 50%;
         }
      }
   }
}

.selected-overlay {
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: rgba($color: $color-indigo, $alpha: 0.6);
   display: flex;
   justify-content: center;
   align-items: center;

   span {
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      font-size: 1.5rem;
      background-color: $color-salmon;
      color: white;
   }
}

// Orden de los divs y estilos de los sliders
#composition-component {
   display: flex;
   flex-direction: column;
   padding-bottom: 80px;
   
   & > .build-compostion__title {
      order: 1;
   }
   & > .slider-nav {
      order: 2;
   }
   & > .build-composition__modal {
      order: 3;
   }
   & > .btn-principal {
      order: 4;
   }
   & > .mobile {
      order: 3;
   }

   .btn__mobile{
      display: none;
   }
   .slider-nav {
      @include slider__marginB;
      .slick-prev {
         @include slider__arrowLeft;
         left: -30px;
         &:hover {
            &::before {
               filter: grayscale(0);
            }
         }
      }
      .slick-next {
         @include slider__arrowRight;
         right: -30px;
         top: 41%;
         &:hover {
            &::before {
               filter: grayscale(0);
            }
         }
      }
   }

   @include mq($from: mobile, $until: tablet) {
      padding: 0;
      & > .build-compostion__title {
         order: 1;
         margin: 10px 0;
         max-width: unset;
         width: 100%;
         & > .container {
            padding: 0;
         }
      }
      & > .slider-nav,
      & > .slider_mobile {
         order: 3;
      }
      & > .build-composition__modal {
         order: 2;
      }
      & > .btn-principal {
         order: 4;
      }
      & > .mobile {
         order: 3;
      }

      .btn__mobile{
         display: block;
         font-size: 14px;
         text-align: left;
         text-decoration: underline ;
         color: $color-indigo;
         margin: 20px 0;
         background-color: transparent;
         @include fonts-display(600);
         svg {
            transform: rotate(180deg);
            margin-right: 5px;
         }
      }

      // slider mobile
      .slider-nav{
         display: flex;
         flex-wrap: wrap;
         button {
            display: block;
            flex: 0 0 25%;
            max-width: 25%;
            padding: 0 8px;
            img {
               width: 100%;
               height: auto;
            }
         }
      }
      .slider_mobile{
         margin: 25px 0;
         .slick-track {
            transform: none !important;
            display: flex;
            flex-wrap: wrap;
            width: 100% !important;
            .slick-slide {
               display: block;
               flex: 0 0 25%;
               width: auto !important;
               max-width: 25%;
               padding: 0 8px;
               float: none;
               img {
                  width: 100%;
                  height: auto;
               }
            }
         }
      }
   }

}

#build-modal {
   @include mq($from: tablet, $until: desktop) {
      .modal-content {
         max-width: 95%;
         margin: 0 auto;
      }
      .modal-body {
         padding: 40px;
         .build__filter {
            justify-content: space-between;
            form {
               select {
                  width: 160px;
                  height: 40px;
                  padding: 0 10px;
                  font-size: 14px;
                  margin: 0 3px;
               }
            }
         }
      }
   }  
}
