.search-results {
   padding-bottom: 100px;
   &__grid {
      display: flex;
      flex-wrap: wrap;
      .cards {
         flex: 0 0 20%;
         max-width: 20%;
         padding: 20px 0;
      }
   }
}