.slider-for {
   // border: 1px solid #D2D2D2;
   padding: 40px 0;
   .slick-slide {
      img {
         max-height: 300px;
         max-width: 300px;
         margin: 0 auto;
      }
   }
}
.slider-nav {
   padding: 20px 0;
   .slick-track {
      display: flex;
      @include f-center;
   }
   .slick-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: fit-content;
      margin: 0 5px;
   }
   .small-img {
      img {
         max-width: 80px;
         max-height: 80px;
         border: 1px solid #D2D2D2;
      }
   }
}
.simple-product {
   &__container {
      margin-bottom: 50px;
   }
   &__title {
      font-size: 22px;
      color: $color-indigo;
      margin-bottom: 10px;
      @include fonts-display(600);
   }
   &__desc {
      font-size: 14px;
      color: $color-indigo;
   }
   &__price {
      padding: 0 0 13px;
      font-size: 22px !important;
      color: $color-indigo !important;
      @include fonts-display(700);
   }
   &__size {
      &--form {
         display: flex;
         @include f-center;
         .form__size {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
         }
         .form__title {
            display: block !important;
            font-size: 12px;
            text-transform: uppercase;
            color: $color-indigo;
            padding-bottom: 6px;
            margin-bottom: 0;
            @include fonts-display(700);
         }
         .form__select {
            select {
               height: 45px;
               width: 90%;
               border: 1px solid #D2D2D2;
               font-weight: 600;
               font-size: 14px;
               color: #182224;
               padding: 0 10px;
            }
            a {
               position: absolute;
               color: $color-indigo;
            }
         }
      }
      &--btn {
         display: flex;
         padding: 10px 0 15px;
         align-items: center;
         justify-content: space-between;
         width: 95%;
         .available {
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 400;
            .check {
               display: flex;
               width: 15px;
               height: 15px;
               border-radius: 50%;
               background: $color-salmon;
               margin-right: 10px;
               @include f-center;
            }
         }
         .heart-icon {
            display: flex;
            width: fit-content;
            &:hover {
                svg {
                    path {
                        fill: $color-salmon;
                    }
                }
            }
            svg {
                path {
                    fill-rule: evenodd !important;
                    fill: rgba(229, 229, 229, 0.15);
                    stroke: $color-salmon;
                    stroke-width: 2px;
                }
            }
         }
         .size-icon {
            a {
               display: flex;
               justify-content: center;
               align-items: flex-start;
               text-decoration: underline;
               svg {
                  margin-right: 5px;
               }
            }
            
         }
         .marco-icon {
            a {
               text-decoration: underline;
            }
            .modal-dialog {
               max-width: 1140px;
            }
            .modal-header {
               border-bottom: 0;
               .close {
                  span {
                     color: $color-white;
                     background-color: $color-salmon;
                     border-radius: 50%;
                     display: flex;
                     font-weight: 100;
                     width: 30px;
                     height: 30px;
                     display: flex;
                     @include f-center;
                  }
               }
            }
         }
         a {
            color: $color-indigo;
            font-size: 14px;
            font-weight: 500;
         }
         // .special {
         //    display: flex;
         //    flex-wrap: wrap;
         //    align-items: center;
         //    width: 50%;
         // }
      }
   }
   &__btn {
      display: flex;
      flex-direction: column;
      a,
      button {
         width: 95%;
         text-align: center;
         text-transform: uppercase;
         letter-spacing: 0.05em;
         @include fonts-display(500);
         &:hover {
            background-color: $color-salmon;
            border: 1px solid $color-salmon;
            color: $color-white;
         }
      }
      .add {
         margin: 10px 0 !important;
         background-color: $color-indigo !important;
         border: 1px solid $color-indigo !important;
         padding: 13px 20px !important;
         color: $color-white !important;
         font-size: 14px !important;
         border-radius: 0 !important;
         width: 95%;
      }
      .buy {
         border: 1px solid $color-indigo;
         padding: 10px 15px;
         font-size: 14px;
         color: $color-indigo;
      }
   }
   &__modal {
      padding: 20px 20px 50px;
      &--img {
         max-height: 400px;
         max-width: 100%;
         display: flex;
         @include f-center;
      }
      &--info {
         padding-right: 150px;
         .simple-product__size--form {
            margin-top: 45px;
         }
         .form__select {
            select {
               width: 80%;
            }
         }
         .simple-product__btn {
            .add {
               width: 80%;
               text-decoration: none;
            }
         }
      }
   }
}
nav.woocommerce-breadcrumb {
   max-width: 1140px;
   padding: 20px 0 !important;
   color: $color-indigo !important;
   font-size: 14px !important;
   margin: 0 auto !important;
   @include fonts-display(600);
   a {
      font-size: 14px !important;
      color: $color-indigo !important;
      @include fonts-display(400);
   }
}