.paiting {
   margin-bottom: 100px;
   &__slider {
     @include slider__marginB;
      .slick-prev {
         @include slider__arrowLeft;
         left: -80px;
         &::before {
            color: $color-salmon;
         }
         &:hover {
            &::before {
               color: $color-silver;
            }
         }
      }
      .slick-next {
         @include slider__arrowRight;
         right: -80px;
         &::before {
            color: $color-salmon;
         }
         &:hover {
            &::before {
               color: $color-silver;
            }
         }
      }
      .slick-dots {
         @include slider__dots;
         bottom: -30px;
         // Posicion
         width: 100%;
         padding: 0 20px;
         right: 4%;
         li {
            height: fit-content;
            width: fit-content;
            margin: 0 4px;
            // Activado
            &.slick-active {
               button {
                  &:before {
                     color: $color-salmon;
                  }
               }
            }
            button {
            height: fit-content;
            width: fit-content;
               &::before {
                  color: rgba($color: $color-dark_green, $alpha: .5);
                  width: 15px;
                  height: 15px;
                  opacity: 1;
                  font-size: 12px;
               }
            }
         }
      }
   }
}
