.about {
   padding-bottom: 100px;
   &__hero {
      margin-bottom: 50px;
      &--img {
         margin-bottom: 45px;
         img {
            width: 100%;
            height: 550px;
            object-fit: cover;
         }
      }
      &--desc {
         max-width: 60%;
         margin: 0 auto;
         text-align: center;
         font-size: 14px;
         line-height: 1.7;
         color: $color-indigo;
      }  
   }
   &__container {
      color: $color-indigo;
      align-items: center;
      padding: 60px 0;
      &--img {
         order: 1;
         img {
            height: 500px;
            width: 100%;
            object-fit: cover;
         }
      }
      &--info {
         order: 2;
         font-size: 14px;
         line-height: 1.7;
         h3 {
            margin-bottom: 50px;
            font-size: 22px;
            @include fonts-display(600);
         }
      }
      &:nth-child(odd) {
         .about__container--img {
            order: 2;
         }
         .about__container--info {
            order: 1;
         }
      }
   }
   @include mq($from: tablet, $until: desktop) {
      padding: 0 0 60px;
      &__hero {
         margin-bottom: 40px;
         &--img {
            margin-bottom: 40px;
            img {
               height: 400px;
            }
         }
         &--desc {
            max-width: unset;
            width: 100%;
         }
      }
      &__container {
         padding: 30px 0;
         h3 {
            margin-bottom: 30px;
            font-size: 20px;
         }
         &--img {
            margin-bottom: 0;
            img {
               height: 400px;
            }
         }
         &--info {
            font-size: 12px;
         }
      }
   }
   @include mq($from: mobile, $until: tablet) {
      padding: 0 0 40px;
      &__hero {
         margin-bottom: 30px;
         &--img {
            margin-bottom: 30px;
            img {
               width: 100%;
               height: 40vh;
               object-fit: cover;
            }
         }
         &--desc {
            max-width: unset;
            width: 100%;
            margin: 0 auto;
         }  
      }
      &__container {
         padding: 30px 0;
         &:nth-child(odd) {
            .about__container--img {
               order: 1;
            }
            .about__container--info {
               order: 2;
            }
         }
         &--img {
            order: 1;
            margin-bottom: 40px;
            img {
               height: auto;
               width: 100%;
            }
         }
         &--info {
            order: 2;
            font-size: 14px;
            line-height: 1.7;
            h3 {
               margin-bottom: 20px;
               font-size: 22px;
            }
         }
      }
   }
}