.btn-principal {
   padding: 20px 24px;
   background-color: $color-indigo;
   color: $color-white;
   text-decoration: none;
   text-transform: uppercase;
   font-size: $f-btn__medium;
   letter-spacing: 0.05em;
   line-height: 1.2;
   transition: $tr3;
   @include fonts-display(200);
   @include mq($from:desktop) {
      &:hover,
      &:active {
         color: $color-white;
         text-decoration: none;
         background-color: $color-light_orange;
      }
   }
   &:disabled {
      background-color: rgba($color: $color-indigo, $alpha: .5);
   }
   @include mq($from: tablet, $until: desktop) {
      padding: 18px 20px;
      font-size: 12px;
   }
   @include mq($from: mobile, $until: tablet) {
      padding: 18px 20px;
      font-size: 14px;
   }
}

.btn-send {
   background-color: $color-light_green;
   color: $color-dark_gray;
   padding: 13px 25px;
   text-transform: uppercase;
   transition: $tr3;
   @include fonts-display(600);
   @include mq($from:desktop) {
      &:hover {
         color: $color-white;
         background-color: $color-salmon;
      }
   }
}

.btn-title {
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   transition: $tr3;
   @include mq($from:desktop) {
      &:hover,
      &:active {
         a{
            color: $color-indigo;
            text-decoration: none;
         }
         svg {
            path {
               transition: $tr3;
               fill: $color-salmon;
            }
         }
      }
   }
   svg {
      position: absolute;
      right: 0;
      z-index: 1;
   }
   a {
      position: relative;
      text-transform: uppercase;
      text-decoration: none ;
      font-size: $f-small;
      color: $color-indigo;
      width: 100%;
      padding-right: 30px;
      margin: 0;
      z-index: 2;
      @include fonts-display(600);
   }
}

.btn-card {
   @extend .btn-principal;
   position: absolute;
   opacity: 0;
   background-color: $color-light_orange;
   @include mq($from:desktop) {
      &:hover,
      &:active {
         color: $color-white;
         background-color: $color-light_orange;
      }
   }
}

.btn-special {
   display: flex;
   flex-direction: column;
   position: absolute;
   bottom: -70px;
   width: 100%;
   padding: 40px 15px;
   color: $color-white;
   text-align: center;
   background: linear-gradient(180deg, rgba(42, 61, 66, 0.7) 14.42%, rgba(42, 61, 66, 0.5) 109.2%);
   transition: $tr3;
   h3 {
      padding-bottom: 30px;
   }
   &__arrow  {
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      img {
         position: absolute;
         right: 36%;
      }
   }
   @include mq($from: mobile, $until: desktop) {
      bottom: 0;
      padding: 30px 15px;
      h3 {
         font-size: 26px;
         padding-bottom: 20px;
      }
      &__arrow {
         img {
            position: relative;
            right: auto;
            margin-left: 20px;
         }
      }
   }
}

.btn-instagram {
   position: absolute;
   padding: 14px 24px;
   background-color: $color-dark_green;
   color: $white;
   text-transform: uppercase;
   font-size: 15px;
   transition: $tr3;
   @include fonts-display(400);
   @include mq($from:desktop) {
      &:hover {
         background-color: $color-salmon;
         color: $white;
      }
   }
   @include mq($from: mobile, $until: tablet) {
      position: relative;
      margin-top: 20px;
   }
}

.btn-more {
   display: block;
   background-color: $color-indigo;
   width: fit-content;
   margin: 0 auto;
   padding: 20px 24px;
   color: $color-white;
   text-transform: uppercase;
   transition: $tr3;
   @include fonts-display(600);
   @include mq($from:desktop) {
      &:hover {
         color: $color-white;
         background-color: $color-salmon;
      }
   }
   @include mq($from: mobile, $until: tablet) {
      padding: 16px 22px;
      font-size: 15px;
   }
}

.btn-select {
   margin: 40px 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 14px;
   color: $color-indigo;
   select {
      width: 50%;
      padding: 0 10px;
      border-radius: 0;
      color: $color-gray;
      border: 1px solid #D2D2D2;
      height: 45px;
   }
   @include mq($from:mobile, $until: tablet) {
      display: none;
   }
}