.card__container {
    display: grid;
    grid-template-rows: 300px 1fr;
    grid-template-columns: 100%;
    padding: 0 5px;
    &--img {
        display: flex;
        border: 1px solid #d2d2d2;
        padding: 20px;
        @include f-center;
        &:hover {
            background-color: rgba($color: $color-indigo, $alpha: 0.4);
            .btn-card {
                opacity: 1;
            }
        }
        img {
            max-height: 100%;
            max-width: 100%;
            z-index: -1;
        }
        &-full {
            display: flex;
            @include f-center;
            width: fit-content;
            width: -moz-fit-content;
            height: fit-content;
            height: -moz-fit-content;
            &:hover {
                background-color: rgba($color: $color-indigo, $alpha: 0.4);
                .btn-card {
                    opacity: 1;
                }
            }
            img {
                z-index: -1;
                max-height: 100%;
                max-width: 100%;
            }
        }
    }
    &--desc {
        text-align: center;
        padding: 10px;
        position: relative;
        &-title {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            .tag-disc {
                position: absolute;
                height: 21px;
                width: 14%;
                left: -10px;
                font-size: 12px;
                display: flex;
                color: $color-white;
                background-color: $color-salmon;
                @include fonts-display(700);
                @include f-center;
            }
            h3 {
                color: $color-indigo;
                font-size: $f-small;
                margin-bottom: 5px;
                max-width: 80%;
                @include fonts-display(700);
            }
        }
        &-for {
            color: $color-gray;
            font-size: 12px;
            margin-bottom: 5px;
            @include fonts-display(400);
        }
        &-price {
            color: $color-indigo;
            font-size: $f-normal;
            @include fonts-display(600);
            .price-off {
                color: $color-salmon;
            }
            .price-normal {
                font-size: 11px;
                text-decoration: line-through;
            }
        }
    }
    .heart-icon {
        display: flex;
        width: fit-content;
        position: absolute;
        bottom: 10px;
        right: 10px;
        &:hover {
            svg {
                path {
                    fill: $color-salmon;
                }
            }
        }
        svg {
            path {
                fill-rule: evenodd !important;
                fill: $color-white;
                stroke: $color-salmon;
                stroke-width: 2px;
            }
        }
    }
}

.card__instagram {
    padding: 0 10px;
    display: flex;
    @include f-center;
    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.cards {
    &:hover {
        text-decoration: none;
    }
}

.big-card {
    padding: 0 10px;
    overflow: hidden;
    & > div {
        overflow: hidden;
    }
    &:hover {
        text-decoration: none;
        .big-card__container {
            -webkit-animation: zoomin 0.3s linear;
            animation: zoomin 0.3s linear;
            animation-fill-mode: forwards;
        }
        .btn-special {
            bottom: 0;
        }
    }
    &__container {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        background-blend-mode: soft-light;
        height: 500px;
        padding-bottom: 0;
        position: relative;
      //   top: 6px; This remove a vertical spacing of each box
        @include bg-center;
        //   test animation Erasmo
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-position-x: 50%;
        background-position-y: 0%;
        -webkit-animation: zoomout 0.3s linear;
        animation: zoomout 0.3s linear;
        animation-fill-mode: forwards;
        //   test animation Erasmo
    }
}
@-webkit-keyframes zoomin {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.10);
        transform: scale(1.10);
    }
}

@-webkit-keyframes zoomout {
    0% {
        -webkit-transform: scale(1.10);
        transform: scale(1.10);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
