.simple-product {
   &__container {
      margin-bottom: 50px;
      div.product {
         width: 100% !important;
      }
      .cart {
         .form__title {
            display: block !important;
            font-size: 12px;
            text-transform: uppercase;
            color: $color-indigo;
            padding-bottom: 6px;
            margin-bottom: 0;
            @include fonts-display(700)
         }
         .quantity {
            input[type='number'] {
               height: 30px;
               width: 50%;
               border: 1px solid #D2D2D2;
               font-weight: 600;
               font-size: 14px;
               color: #182224;
               padding: 0 10px;
               margin-bottom: 20px;
               position: relative;
            }
         }
      }
   }
   &__title {
      font-size: 22px;
      color: $color-indigo;
      margin-bottom: 10px;
      @include fonts-display(600);
   }
   &__desc {
      font-size: 14px;
      color: $color-indigo;
   }
   &__price {
      padding: 0 0 13px;
      font-size: 22px !important;
      color: $color-indigo !important;
      @include fonts-display(700);
      &.woocommerce-variation-price {
         .price {
            padding: 0 0 13px;
            font-size: 22px !important;
            color: $color-indigo !important;
            @include fonts-display(700);

         }
      }
   }
   &__size {
      &--form {
         flex-wrap: wrap;
         display: flex;
         align-items: center;
         justify-content: flex-start;
         .form__size {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
         }
         .form__title {
            display: block !important;
            font-size: 12px;
            text-transform: uppercase;
            color: $color-indigo;
            padding-bottom: 6px;
            margin-bottom: 0;
            @include fonts-display(700);
         }
         .form__select {
            position: relative;
            select {
               height: 45px;
               width: 90%;
               border: 1px solid #D2D2D2;
               font-weight: 600;
               font-size: 14px;
               color: #182224;
               padding: 0 10px;
            }
         }
         .frame-option {
            display: flex;
         }
         .alerta {
            p {
               color: $color-salmon;
               font-size: 12px;
               margin: 8px 0 0;
            }
         }
         .reset_variations {
            position: absolute;
            right: -20px;
            top: 5px;
            display: flex;
            font-size: 0 !important;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: $color-salmon;
            color: $color-white;
            @include d-flex(center, center);
            &::before {
               content: 'X';
               font-size: 20px;
               font-family: 'Raleway', sans-serif;
            }
         }
      }
      &--btn {
         display: flex;
         padding: 10px 0 15px;
         align-items: center;
         justify-content: space-between;
         width: 95%;
         .available {
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 400;
            .check {
               display: flex;
               width: 15px;
               height: 15px;
               border-radius: 50%;
               background: $color-salmon;
               margin-right: 10px;
               @include d-flex(center, center);
            }
         }
         .heart-icon {
            display: flex;
            width: fit-content;
            .yith-wcwl-add-to-wishlist {
               margin-top: 0;
            }
            .yith-wcwl-wishlistexistsbrowse {
               span {
                  display: none !important;
               }
               i {
                  color: $color-salmon !important;
               }
            }
            .yith-wcwl-wishlistaddedbrowse {
               a {
                  display: none !important;
               }
               i {
                  color: $color-salmon !important;
               }
            }
            i {
               transition: $tr3;
               font-family: 'FontAwesome' !important;
            }
            @include mq($from: desktop) {
               &:hover {
                  i {
                     color: $color-salmon;
                  }
               }
            }
         }
         .size-icon {
            a {
               display: flex;
               justify-content: center;
               align-items: flex-start;
               text-decoration: underline;
               svg {
                  margin-right: 5px;
               }
            }
            
         }
         .marco-icon {
            a {
               text-decoration: underline;
            }
            .modal-dialog {
               max-width: 1140px;
            }

         }
         a {
            color: $color-indigo;
            font-size: 14px;
            font-weight: 500;
         }
      }
   }
   &__btn {
      display: flex;
      flex-direction: column;
      a,
      button {
         width: 95%;
         text-align: center;
         text-transform: uppercase;
         letter-spacing: 0.05em;
         transition: $tr3;
         @include fonts-display(500);
         @include mq($from: desktop) {
            &:hover {
               background-color: $color-salmon !important;
               border: 1px solid $color-salmon !important;
               color: $color-white;
            }
         }
      }
      .add {
         margin: 10px 0 !important;
         background-color: $color-indigo !important;
         border: 1px solid $color-indigo !important;
         padding: 13px 20px !important;
         color: $color-white !important;
         font-size: 14px !important;
         border-radius: 0 !important;
         width: 95%;
      }
      .buy {
         border: 1px solid $color-indigo;
         padding: 10px 15px;
         font-size: 14px;
         color: $color-indigo;
      }
   }

   // Ventana modal
   &__modal {
      padding: 20px 20px 50px;
      &--img {
         max-height: 400px;
         max-width: 100%;
         display: flex;
         @include d-flex(center, center);
      }
      &--info {
         padding-right: 150px;

         // Descriptions
         .simple-product__desc {
            margin-bottom: 12px;
         }
         .obra-container__price__info__des {
            font-size: 14px;
         }

         // Inputs
         .simple-product__size--form {
            margin-top: 30px;
            .form__size {
               width: 100%;
               margin-bottom: 12px;
            }
            .form__select {
               select {
                  width: 80%;
                  margin-bottom: 20px;
               }
            }
         }

         // Button
         .simple-product__btn {
            width: 100%;
            .add {
               width: 80%;
               text-decoration: none;
            }
         }
      }
   }
   @include mq($from: tablet, $until: desktop) {
      &__container {
         span.onsale {
            font-size: 12px !important;
         }
         .product {
            display: flex;
         }
         .woocommerce-product-gallery {
            flex: 0 0 50%;
            max-width: 55%;
            padding-right: 15px;
         }
         .summary.entry-summary {
            padding-right: 3%;
         }
      }
      &__title {
         font-size: 20px;
         margin-bottom: 8px;
      }
      &__desc {
         font-size: 12px;
         p {
            margin-bottom: 5px;
         }
      }
      &__price {
         font-size: 18px !important;
         padding: 0;
         margin-bottom: 12px;
         &.woocommerce-variation-price {
            .price {
               font-size: 18px !important;
               padding: 0;
               margin-bottom: 12px;
            }
         }
      }
      &__size {
         &--form {
            flex-wrap: wrap;
            .form__size {
               margin-bottom: 10px;
            }
            .form__title {
               line-height: 1.4;
               font-size: 10px;
            }
            .form__select {
               select {
                  height: 40px !important;
                  width: 98% !important;
                  font-size: 12px;
               }
            }
            .reset_variations {
               width: 24px;
               height: 24px;
               top: 6px;
               right: -30px;
               &::before {
                  font-size: 10px;
               }
            }
         }
         &--btn {
            flex-wrap: wrap;
            padding: 10px 0 0;
            width: 100%;
            & > div {
               flex: 0 0 50%;
               max-width: 50%;
               margin-bottom: 10px;
               a {
                  font-size: 14px;
                  svg {
                     width: 18px;
                  }
               }
            }
            .size-icon {
               a {
                  justify-content: flex-start;
               }
            }
         }
      }
      &__btn {
         .add {
            padding: 10px 20px !important;
            font-size: 13px !important;
            width: 100%;
         }
         .buy {
            padding: 8px 20px;
            font-size: 13px;
            width: 100%;
         }
      }
   }
   @include mq($from: mobile, $until: tablet) {
      &__container {
         padding: 0 15px;
         span.onsale {
            left: 5px !important;
            top: 5px !important;
            font-size: 12px !important;
         }
         .woocommerce-product-gallery__trigger {
            right: 5px !important;
            top: 5px !important;
         }
      }
      &__title {
         font-size: 20px;
      }
      &__desc {
         font-size: 12px;
         p {
            margin-bottom: 8px;
         }
      }
      &__price {
         font-size: 18px !important;
         padding: 0;
         &.woocommerce-variation-price {
            .price {
               font-size: 18px !important;
               padding: 0;
            }
         }
      }
      &__size {
         &--form {
            flex-wrap: wrap;
            margin-bottom: 10px;
            .form__size {
               margin-bottom: 10px;
            }
            .form__select {
               line-height: 1.4;
               padding-bottom: 3px;
               select {
                  width: 92%;
                  height: 40px;
                  font-size: 12px;
               }
            }
            .reset_variations {
               width: 20px;
               height: 20px;
               top: 9px;
               right: -12px;
               &::before {
                  font-size: 9px;
               }
            }
         }
         &--btn {
            flex-wrap: wrap;
            width: 100%;
            padding-top: 0;
            & > div {
               margin-bottom: 12px;
               flex: 0 0 50%;
               max-width: 50%;
            }
            .size-icon{
               a {
                  justify-content: flex-start;
               }
            }
         }
      }
      &__btn {
         .buy {
            width: 100%;
         }
      }

      &__modal {
         &--info {
            padding:  0;
         }

         .obra-container__price__info__des {
            font-size: 12px;
         }

         .simple-product__size--form {
            margin-top: 20px;
            .form__size {
               width: 100%;
               margin-bottom: 12px;
            }
            .form__select {
               select {
                  width: 100%;
                  height: 40px;
                  margin-bottom: 15px;
                  font-size: 12px;
               }
            }
         }

         // Button
         .simple-product__btn {
            .add {
               width: 100%;
               font-size: 13px !important;
               padding: 10px !important;
            }
         }
      }
   }
}

.guide {
   max-width: 700px;
   width: 100%;
   &__container {
      max-width: unset;
      .modal-content {
         width: 100%;
      }
      iframe {
         .ndfHFb-c4YZDc-cYSp0e-s2gQvd {
            overflow-x: hidden !important;
         }
      }
   }
}