.hero {
   padding: 20px 0;
   &__principal {
      height: 500px;
      display: flex;
      align-items: flex-end;
      @include bg-center;
      &--desc {
         background-color: rgba($color: $color-dark_gray, $alpha: .5);
         display: flex;
         width: 100%;
         padding: 20px 50px;
         align-items: center;
         justify-content: space-around;
         h2 {
            max-width: 50%;
            text-transform: uppercase;
            font-size: 32px;
            color: $color-white;
            line-height: 1.4;
            @include fonts-display(500);
         }
      }
   }
   &__card {
      justify-content: space-between;
      margin: 20px 0;
      &--container {
         height: 380px;
         max-width: 32.8%;
         display: flex;
         flex-direction: column;
         justify-content: flex-end;
         align-items: center;
         padding-bottom: 25px;
         @include bg-center;
      }
   }
   &__slider {
      @include slider__marginB;
      .slick-prev {
         @include slider__arrowLeft;
         left: -80px;
         @include mq($from: desktop) {
            &:hover {
               &::before {
                  filter: grayscale(0);
               }
            }
         }
      }
      .slick-next {
         @include slider__arrowRight;
         right: -80px;
         @include mq($from: desktop) {
            &:hover {
               &::before {
                  filter: grayscale(0);
               }
            }
         }
      }
      &--container {
         &.btn-left {
            .hero__principal--desc {
               h2 {
                  order: 2;
               }
               a.btn-principal {
                  order: 1;
               }
            }
         }
         &.btn-right {
            .hero__principal--desc {
               h2 {
                  order: 1;
               }
               a.btn-principal {
                  order: 2;
               }
            }
         }
         &.btn-down {
            position: relative;
            overflow: hidden;
            .hero__principal--desc {
               position: absolute;
               flex-direction: column;
               text-align: center;
               bottom: -80px;
               h2 {
                  order: 1;
               }
               a.btn-principal {
                  order: 2;
               }
            }
            &:hover {
               .hero__principal--desc {
                  bottom: 0;
               }
            }
         }
         &.btn-none {
            .hero__principal--desc {
               display: none;
            }
         }
      }
   }
   @include mq($from: mobile, $until: tablet) {
      &__container {
         margin: 0 -15px;
      }
      &__principal {
         &--desc {
            padding: 25px 15px;
            flex-direction: column;
            h2 {
               font-size: 22px;
               text-align: center;
               max-width: 100%;
            }
         }
      }
      &__card {
         margin: 20px 15px;
         &--container {
            max-width: 48%;
            margin: 15px auto;
            height: 200px;
            &:last-child {
               max-width: initial;
               height: 320px;
            }
         }
      }
   }
}