.lightbox {
   display: flex;
   visibility: hidden;
   opacity: 0;
   position: fixed;
   top: 0;
   bottom: 0;
   background-color: rgba($color: $color-indigo, $alpha: .4);
   transition: $tr3;
   z-index: 10000;
   &.active {
      visibility: visible;
      opacity: 1;
   }
   @include f-center;
   &__container {
      height: 100vh;
      display: flex;
      @include f-center;
   }
   &__content {
      width: 70%;
      margin: 0 auto;
      // min-height: 500px;
      position: relative;
      padding: 45px;
      &--color {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         &.none {
            display: none;
         }
      }
      &--img {
         img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
         &.none {
            display: none;
         }
      }
   }
   &__body {
      position: relative;
      padding: 40px;
      text-align: center;
      @include fonts-display(500);
      h2 {
         @include fonts-display(700);
         margin-bottom: 20px;
      }
      .closed {
         position: absolute;
         top: 5px;
         right: 5px;
         color: $color-white;
         background-color: $color-indigo;
         border-radius: 50%;
         width: 30px;
         height: 30px;
         transition: $tr3;
         display: flex;
         @include f-center;
         &:hover {
            background-color: $color-salmon;
         }
      }
      .btn-container {
         display: flex;
         @include f-center;
         .btn-principal {
            display: block;
            position: relative;
            bottom: -50px;
            &:hover {
               background-color: $color-salmon;
               color: $color-white;
            }
         }
      }
   }
   @include mq($from: tablet, $until: desktop) {
      &__content {
         width: 90%;
      }
   }
   @include mq($from: mobile, $until: tablet) {
      &>.container {
         padding: 0;
      }
      &__content {
         width: 100%;
         padding: 25px;
      }
      &__body {
         padding: 25px;
         font-size: 12px;
         .closed {
            width: 25px;
            height: 25px;
            font-size: 13px;
         }
         h2 {
            margin-bottom: 16px;
            font-size: 28px;
         }
         .btn-container {
            .btn-principal {
               font-size: 12px;
               bottom: -40px;
               padding: 12px 22px;
            }
         }
      }
   }
}