.modal-header {
  border-bottom: 0;
  .close {
    outline: none !important;
    span {
      color: $color-white;
      background-color: $color-salmon;
      border-radius: 50%;
      display: flex;
      font-weight: 100;
      width: 30px;
      height: 30px;
      display: flex;
      @include d-flex(center, center);
    }
  }
}

.build-compostion__title {
  max-width: 65%;
  margin: 0 auto 50px;
}
.modal-content {
  top: 10px;
}
.modal-body {
  padding: 20px 40px;
}
.modal-header {
  position: absolute;
  right: 0;
  z-index: 10;
}
.build__filter {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-indigo;
  margin-bottom: 50px;
  &--icon {
    margin-right: 20px;
  }
  form {
    select {
      width: 200px;
      height: 45px;
    }
  }
}

.build__row {
  height: 400px;
  overflow-x: scroll;
  justify-content: center;
  align-items: stretch;
  .btn-send {
    background-color: $color-indigo;
    color: $color-white;
    @include mq($from:desktop, $until:wide) {
      &:hover {
        background-color: $color-salmon;
      }
    }
    @include mq ($from:mobile, $until:tablet) {
      margin-bottom: 15px;
      font-size: 14px;
    }
  }
  &--arts {
    margin-bottom: 20px;
    padding: 0 10px;
    button {
      position: relative;
      display: flex;
      margin: 0 auto;
      background-color: unset;
    }
    img {
      max-width: 100%;
      height: 160px;
      object-fit: contain;

    }
    & > h5 {
      color: $color-indigo;
      font-size: 14px;
      text-align: center;
      margin-bottom: 3px;
      @include fonts-display(600)
    }
    & > span {
      display: block;
      text-align: center;
      font-size: 12px;
      text-align: center;
      @include fonts-display(500)
    }
  }
}
