.header {
   background-color: $color-white;
   padding-bottom: 10px;
   box-shadow: 0 15px 30px -17px rgba(0, 0, 0, 0.15);
   position: relative;
   &__banner {
      color: $color-white;
      text-align: center;
      background-color: $color-indigo;
      width: 100vw;
      padding: 12px 20px;
      margin: 0 -15px;
      p {
         margin-bottom: 0px;
      }
      @include fonts-display(400);
      a {
         color: $color-white;
         text-decoration: underline;
         &:hover {
            color: $color-salmon;
         }
      }
   }
   &__menu{
      display: flex;
      padding-top: 25px;
      @include f-center;
      @include fonts-display(400);
      &--search{
         display: flex;
         align-items: center;
         position: relative;
         margin-right: auto;
         width: 40%;
         form {
            width: 60%;
            position: relative;
            display: flex;
            @include f-center;
         }
         input {
            padding: 8px 15px;
            width: 260px;
            font-size: $f-normal;
            border: 1px solid #D2D2D2;
            border-radius: $r-input;
            transition: $tr3;
            &::placeholder {
               color: $color-silver;
               cursor: pointer;
            }
            &:focus {
               border: 1px solid $color-indigo;
            }
         }
         a {
            position: absolute;
            height: 100%;
            width: 50px;
            display: flex;
            right: 5px;
            @include f-center;
            i {
               font-size: 20px;
               color: $color-dark_green;
               margin: 0;
            }
         }
      }
      &--whatsapp {
         padding-right: 15px;
         margin-right: 10px;
         border-right: 1px solid $color-light_green;
         img {
            height: 20px;
         } 
      }
      &--icons {
         padding-right: 10px;
         margin-right: 15px;
         border-right: 1px solid $color-light_green;
         display: flex;
         align-items: flex-end;
         justify-content: center;
         a {
            position: relative;
            color: $color-white;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            margin-right: 15px;
            svg {
               margin-right: -3px;
            }
            .icon-circle {
               background: $color-indigo;
               border-radius: 10px;
               padding: 0 5px;
               font-size: 10px;
            }
            &:hover {
               svg {
                  path {
                     fill: $color-salmon;
                  }
               }
               .icon-circle {
                  background: $color-salmon;
               }
            }
         }
      }
      &--sesions {
         a {
            color: $color-indigo;
            text-decoration: none;
            font-size: $f-normal;
            &:hover {
               color: $color-indigo;
            }
         }
      }
   }
   &__logo {
      display: flex;
      position: relative;
      height: 35px;
      @include f-center;
      &::before {
         content: '';
         position: absolute;
         width: 100vw;
         height: 1px;
         background-color: $color-light_green;
      }
      a {
         display: flex;
         @include f-center;
      }
      img {
         position: absolute;
         background-color: $color-white;
         padding: 0 25px;
         height: 130px;
      }
   }
   @include mq($from: mobile, $until: desktop) {
      padding-top: 70px;
      &__container {
         z-index: 100;
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         background-color: $color-white;
      }
      &__logo {
         height: 20px;
         background-color: $color-white;
         &::before{
            content: none;
         }
         img {
            height: 60px;
            background-color: unset;
            top: -45px;
         }
      }
      &__menu {
         background-color: $color-white;
         &--whatsapp {
            display: none;
         }
         &--search {
            input {
               display: none;
            }
            a {
               i {
                  position: relative;
                  left: 10px;
               }
            }
         }
         &--sesions {
            display: flex;
            position: absolute;
            width: 100%;
            background-color: #C1CDCA;
            background-color: #C1CDCA;
            top: 70px;
            padding: 20px;
         }
         &--icons {
            margin: 0;
            border: 0;
            padding: 0;
            a {
               margin-right: 10px;
            }
         }
      }
      &__nav {
         position: absolute;
         display: flex;
         flex-direction: column;
         background-color: $white;
         height: fit-content;
         width: 100%;
         top: 130px;
         &--rrss {
            background-color: $white;
            padding: 20px;
            a {
               img {
                  margin-right: 30px;
               }
            }
         }
         .menu-principal-container {
            width: 100%;
            height: 100%
         }
      }
   }
}

#burger-menu{
   @include mq($from: desktop) {
      display: none;
   }
   position: absolute;
   display: block;
   text-align: center;
   width: 35px;
   height: 35px;
   margin-right: 10px;
   left: 0;
   z-index: 1001;
   .menu-icon {
       display: inline-block;
       width: 35px;
       height: 35px;
       padding: 4px;
   }
   .menu-icon path {
       stroke: $color-black;
       stroke-width: 10;
       stroke-linecap: round;
       transition: all 0.5s;
       transform: rotate(0deg);
       will-change: transform, opacity;
       transform-origin: center;
   }
   .menu-li {
       cursor: pointer;
       width: 35px;
       height: 35px;
   }
   .menu-li:hover path,
   .menu-li:focus path,
   .menu-li:active path {
       stroke: $color-dark_gray;
   }
   .menu-icon.active path:nth-child(1) {
       opacity: 0;
   }
   .menu-icon.active path:nth-child(4) {
       opacity: 0;
   }
   .menu-icon.active path:nth-child(2) {
       transform: rotate(45deg);
   }
   .menu-icon.active path:nth-child(3) {
       transform: rotate(-45deg);
   }
}
