.header {
   background-color: $color-white;
   padding-bottom: 10px;
   box-shadow: 0 15px 30px -17px rgba(0, 0, 0, 0.15);
   position: relative;
   transition: $tr3;
   &__banner {
      color: $color-white;
      text-align: center;
      background-color: $color-indigo;
      width: 100vw;
      padding: 12px 20px;
      margin: 0 -15px;
      p {
         margin-bottom: 0px;
      }
      @include fonts-display(400);
      a {
         color: $color-white;
         text-decoration: underline;
         text-decoration-color: $color-white;
         transition: $tr3;
         
         &:hover {
            color: $color-salmon;
            text-decoration: underline;
            text-decoration-color: $color-indigo;
         }
      }
   }
   &__menu{
      display: flex;
      padding-top: 25px;
      @include d-flex(center, center);
      @include fonts-display(400);
      &--search{
         display: flex;
         align-items: center;
         position: relative;
         margin-right: auto;
         width: 40%;
         .search-mobile {
            display: none;
         }
         form {
            width: 60%;
            position: relative;
            display: flex;
            @include d-flex(center, center);
            input[type=submit] {
               position: absolute;
               width: 18%;
               right: 0;
               opacity: 0;
               z-index: 2;
            }
            svg {
               position: absolute;
               right: 15px;
            }
         }
         input {
            padding: 8px 15px;
            width: 260px;
            font-size: $f-normal;
            border: 1px solid #D2D2D2;
            border-radius: $r-input;
            transition: $tr3;
            &::placeholder {
               color: $color-silver;
               cursor: pointer;
            }
            &:focus {
               border: 1px solid $color-indigo;
            }
         }
         a {
            position: absolute;
            height: 100%;
            width: 50px;
            display: flex;
            right: 5px;
            @include d-flex(center, center);
            i {
               font-size: 20px;
               color: $color-dark_green;
               margin: 0;
            }
         }
      }
      &--whatsapp {
         padding-right: 15px;
         margin-right: 10px;
         border-right: 1px solid $color-light_green;
         img {
            height: 20px !important;
         } 
      }
      &--icons {
         padding-right: 10px;
         margin-right: 15px;
         border-right: 1px solid $color-light_green;
         display: flex;
         align-items: flex-end;
         justify-content: center;
         a {
            position: relative;
            color: $color-white;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            margin-right: 15px;
            transition: $tr3;
            svg {
               margin-right: -3px;
               path {
                  transition: $tr3;
               }
            }
            .icon-circle {
               background: $color-indigo;
               border-radius: 10px;
               padding: 0 5px;
               font-size: 10px;
               transition: $tr3;
            }
            &:hover {
               svg {
                  path {
                     fill: $color-salmon;
                  }
               }
               .icon-circle {
                  background: $color-salmon;
               }
            }
         }
      }
      &--sesions {
         transition: $tr3;
         a {
            color: $color-indigo;
            text-decoration: none;
            font-size: $f-normal;
            transition: $tr3;
            b {
               transition: $tr3;
            }
            &:hover {
               b {
                  color: $color-salmon;
               }
            }
         }
      }
   }
   &__logo {
      display: flex;
      position: relative;
      height: 35px;
      @include d-flex(center, center);
      &::before {
         content: '';
         position: absolute;
         width: 100vw;
         height: 1px;
         background-color: $color-light_green;
      }
      a {
         display: flex;
         @include d-flex(center, center);
      }
      img {
         position: absolute;
         background-color: $color-white;
         padding: 0 25px;
         width: 180px;
         height: auto;
      }
   }
   &__nav {
      transition: $tr3;
      &--rrss {
         display: none;
      }
   }
   @include mq($from: desktop, $until: wide) {
      &__logo {
         img {
            width: 150px;
         }
      }
   }
   @include mq($from: tablet, $until: desktop) {
      & > .container {
         padding: 0;
         margin: 0;
         max-width: unset;
      }
      &__banner {
         font-size: 14px;
      }
      &__logo {
         img {
            width: 150px;
         }
      }
      &__menu {
         &--search {
            a {
               right: 0;
            }
            svg {
               width: 18px;
            }
            form {
               width: 70%;
               input {
                  padding: 5px 12px;
                  font-size: 12px;
               }
            }
         }
         &--whatsapp {
            padding-right: 10px;
            position: relative;
            top: 1px;
            img {
               height: 17px !important;
            }
         }
         &--sesions {
            a {
               font-size: 12px;
            }
         }
         &--icons {
            padding-right: 5px;
            margin-right: 12px;
            a {
               margin-right: 10px;
               .icon-circle {
                  font-size: 8px;
                  padding: 0 4px;
               }
            }
            svg {
               width: 16px;
            }
         }
      }
   }
   @include mq($from: mobile, $until: tablet) {
      padding-top: 70px;
      padding-bottom: 0;
      &__banner {
         font-size: 14px;
      }
      &.active {
         .header__menu--sesions {
            top: 70px;
            opacity: 1;
            visibility: visible;
         }
         .header__nav {
            top: 130px;
            opacity: 1;
            visibility: visible;
         }
      }
      &__container {
         z-index: 100;
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         background-color: $color-white;
         border-bottom: 1px solid $color-indigo;
      }
      &__logo {
         height: 20px;
         background-color: $color-white;
         &::before{
            content: none;
         }
         img {
            width: 110px;
            background-color: unset;
            top: -45px;
         }
      }
      &__menu {
         background-color: $color-white;
         &--whatsapp {
            display: none;
         }
         &--search {
            transition: $tr3;
            .search-mobile {
               display: block;
               height: fit-content;
               width: fit-content;
               top: -15px;
               left: 45px;
               padding: 5px;
               transition: $tr3;
               svg {
                  transition: $tr3;
                  &:nth-child(2) {
                     opacity: 0;
                     position: absolute;
                     left: 3px;
                     top: 5px;
                  }
                  &:nth-child(1) {
                     opacity: 1;
                  }
               }
            }
            &.srch {
               transition: $tr3;
               .search-mobile {
                  transition: $tr3;
                  svg {
                     transition: $tr3;
                     &:nth-child(1) {
                        opacity: 0;
                     }
                     &:nth-child(2) {
                        opacity: 1;
                     }
                  }
               }
               form {
                  opacity: 1;
                  visibility: visible;
               }
            }
            form {
               transition: $tr3;
               opacity: 0;
               visibility: hidden;
               position: absolute;
               top: 33px;
               width: 100vw;
               height: 60px;
               input {
                  width: 100%;
                  height: 100%;
                  border: 1px solid rgba($color: #C1CDCA, $alpha: .25);
                  border-radius: 0;
               }
               a {
                  top: 0;
               }
            }
         }
         &--sesions {
            display: flex;
            position: absolute;
            width: 100%;
            background-color: #C1CDCA;
            top: 70px;
            padding: 20px;
            opacity: 0;
            visibility: hidden;
         }
         &--icons {
            margin: 0;
            border: 0;
            padding: 0;
            a {
               margin-right: 10px;
            }
         }
      }
      &__nav {
         position: absolute;
         display: flex;
         flex-direction: column;
         background-color: $white;
         height: fit-content;
         width: 100%;
         top: 130px;
         opacity: 0;
         visibility: hidden;
         &--rrss {
            display: block;
            background-color: $white;
            padding: 20px;
            a {
               img {
                  margin-right: 30px;
               }
            }
         }
         .menu-principal-container {
            width: 100%;
            height: 100%;
            max-height: calc(100vh - 131px);
            overflow-y: scroll;
            overflow-x: hidden;
            &::before {
               content: '';
               position: absolute;
               width: 100vw;
               height: 100vh;
               top: 0;
               left: 0;
               background-color: rgba($color: $color-indigo, $alpha: .4);
               z-index: -1;
            }
         }
      }
   }
}

#burger-menu{
   @include mq($from: tablet) {
      display: none;
   }
   position: absolute;
   display: block;
   text-align: center;
   width: 35px;
   height: 35px;
   margin-right: 10px;
   left: 0;
   z-index: 1001;
   .menu-icon {
      display: inline-block;
      width: 35px;
      height: 35px;
      padding: 4px;
   }
   .menu-icon path {
      stroke: $color-black;
      stroke-width: 10;
      stroke-linecap: round;
      transition: all 0.5s;
      transform: rotate(0deg);
      will-change: transform, opacity;
      transform-origin: center;
   }
   .menu-li {
      cursor: pointer;
      width: 35px;
      height: 35px;
      transition: $tr3;
   }
   .menu-li:hover path,
   .menu-li:focus path,
   .menu-li:active path {
      transition: $tr3;
      stroke: $color-dark_gray;
   }
   .menu-icon.active path:nth-child(1) {
       opacity: 0;
   }
   .menu-icon.active path:nth-child(4) {
       opacity: 0;
   }
   .menu-icon.active path:nth-child(2) {
       transform: rotate(45deg);
   }
   .menu-icon.active path:nth-child(3) {
       transform: rotate(-45deg);
   }
}
