#yith-wcwl-form {
   max-width: 1140px;
   padding: 80px 15px;
   margin: 0 auto;

   // Titulo
   .wishlist-title-container {
      text-align: center;
      .wishlist-title {
         margin: 0;
         text-align: center;
         h2 {
            color: $color-indigo;
            font-size: 22px;
            margin-bottom: 20px;
            text-align: center;
            @include fonts-display(700);
         }
         a {
            display: none;
         }
      }
   }

   // Tabla
   table.wishlist_table {
      border: 1px solid rgba($color: $color-black, $alpha: .1);
      border-collapse: collapse;
      thead {
         th {
            border: 0;
            color: $color-dark_gray;
            font-size: 14px;
            text-transform: uppercase;
            @include fonts-display(700);
            &.product-price {
               text-align: center;
            }
         }
      }
      tbody {
         tr {
            border-top: 1px solid rgba($color: $color-black, $alpha: .1); 
            td {
               border: 0;
               color: $color-dark_gray;
               font-size: 13px;
               text-transform: uppercase;
               @include fonts-display(700);
               span.woocommerce-Price-currencySymbol {
                  color: #D2D2D2;
               }
               ins {
                  text-decoration: none;
                  margin-left: 10px;
               }
               a {
                  color: $color-dark_gray;
               }
               // btn
               &.product-add-to-cart {
                  a {
                     margin: 0 auto !important;
                     padding: 10px 13px !important;
                     background-color: $color-white;
                     border: 1px solid $color-indigo;
                     display: block !important;
                     max-width: 70%;
                     border-radius: 0;
                     font-size: 13px;
                     transition: $tr3;
                     &:hover {
                        background-color: $color-salmon;
                        border: 1px solid $color-salmon;
                        color: $color-white;
                     }
                  }
               }

               // Eliminar
               &.product-remove {
                  a {
                     margin: 0 auto;
                     background: #EB5757;
                     color: #FFFFFF !important;
                     font-size: 17px;
                  }
               }

               // Sub-item
               .variation {
                  margin-top: 5px;
                  color: #A7A7A7;
                  font-weight: 500;
                  font-size: 12px;
               }
            }
         }
      }
   }

   // tabal responsive
   @include mq($from: tablet, $until: desktop) {
      .shop_table.cart.wishlist_table.wishlist_view.responsive.mobile {
         li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            padding-left: 25px;
   
            // Table
            table.item-details-table {
               width: 100%;
               tr {
                  width: 50%;
                  &:nth-child(1) {
                     width: 100%;
                  }
                  &:nth-child(2) {
                     width: 30%;
                  }
                  td {
                     text-align: left;
                  }
               }
            }
            // Informacion
            .item-wrapper {
               width: 70%;
               .product-name {
                  color: $color-indigo;
                  font-size: 13px;
                  letter-spacing: 0.03em;
                  @include fonts-display(700);
                  h3 {
                     line-height: .7;
                     a {
                        color: $color-indigo !important;
                        font-size: 13px;
                        letter-spacing: 0.03em;
                        @include fonts-display(700);
                        margin-bottom: 0;
                     }
                  }
               }
               tbody {
                  display: flex;
                  flex-wrap: wrap;
   
               }
               .label {
                  width: 30%;
               }
               .value {
                  del {
                     color: rgba($color: $color-indigo, $alpha: .5);
                  }
                  ins {
                     text-decoration: none;
                     bdi {
                        margin-left: 12px;
                     }
                  }
                  .woocommerce-Price-currencySymbol {
                     color: #D2D2D2;
                  }
                  color: #2A3D42 !important;
                  text-align: center;
                  font-family: 'Raleway', sans-serif;
                  font-weight: 700;
               }
            }
   
            // btn
            .additional-info-wrapper {
               a.add_to_cart {
                  width: 100%;
                  background-color: $color-indigo !important;
                  color: $color-white !important;
                  border-radius: 0 !important;
                  text-transform: uppercase;
                  letter-spacing: .02em;
                  transition: all ease-in-out 0.3s;
                  font-family: 'Raleway', sans-serif;
                  font-weight: 600;
                  font-size: 12px;
               }
               .product-remove{
                  position: absolute;
                  left: 0;
                  top: calc(50% - 15px);
                  a {
                     display: flex;
                     margin: 0 auto;
                     border-radius: 50%;
                     background: #EB5757;
                     color: $color-white !important;
                     font-size: 12px;
                     padding: 8px 5px;
                     font-weight: 800;
                     @include f-center;
                     &::before {
                        content: 'x';
                        line-height: 0;
                     }
                     i {
                        display: none;
                     }
                  }
               }
            }
         }
      }
   }
   @include mq($from: mobile, $until: tablet) {
      padding-bottom: 40px;
      padding-top: 40px;
      .shop_table.cart.wishlist_table.wishlist_view.responsive.mobile {
         li {
            position: relative;
            padding-bottom: 20px;
            padding-left: 15px;

            // Informacion
            .item-wrapper {
               width: 100%;
               .product-name {
                  color: $color-indigo;
                  font-size: 13px;
                  letter-spacing: 0.03em;
                  @include fonts-display(700);
                  h3 {
                     line-height: .7;
                     a {
                        color: $color-indigo !important;
                        font-size: 13px;
                        letter-spacing: 0.03em;
                        @include fonts-display(700);
                        margin-bottom: 0;
                     }
                  }
               }
               tbody {
                  display: block;
                  tr {
                     display: flex;
                     width: 100%;
                     td {
                        width: auto;
                        text-align: left;
                        font-size: 11px;
                     }
                  }
               }
               .value {
                  del {
                     color: rgba($color: $color-indigo, $alpha: .5);
                  }
                  ins {
                     text-decoration: none;
                     bdi {
                        margin-left: 12px;
                     }
                  }
                  .woocommerce-Price-currencySymbol {
                     color: #D2D2D2;
                  }
                  color: #2A3D42 !important;
                  text-align: center;
                  font-family: 'Raleway', sans-serif;
                  font-weight: 700;
               }
            }
   
            // btn
            .additional-info-wrapper {
               a.add_to_cart {
                  width: 100%;
                  background-color: $color-indigo !important;
                  color: $color-white !important;
                  border-radius: 0 !important;
                  text-transform: uppercase;
                  letter-spacing: .02em;
                  transition: all ease-in-out 0.3s;
                  font-family: 'Raleway', sans-serif;
                  font-weight: 600;
                  font-size: 12px;
               }
               .product-remove{
                  position: absolute;
                  left: -10px;
                  top: 5px;
                  a {
                     display: flex;
                     margin: 0 auto;
                     border-radius: 50%;
                     background: #EB5757;
                     color: $color-white !important;
                     font-size: 12px;
                     padding: 8px 5px;
                     font-weight: 800;
                     @include f-center;
                     &::before {
                        content: 'x';
                        line-height: 0;
                     }
                     i {
                        display: none;
                     }
                  }
               }
            }
         }
      }
   }

}