.btn-principal {
   padding: 20px 24px;
   background-color: $color-indigo;
   color: $color-white;
   text-decoration: none;
   text-transform: uppercase;
   font-size: $f-btn__medium;
   letter-spacing: 1.2px;
   &:hover,
   &:active {
      color: $color-white;
      text-decoration: none;
      background-color: #182224;
   }
   &:disabled {
      background-color: rgba($color: $color-indigo, $alpha: .5);
   }
}
.btn-send {
   background-color: $color-light_green;
   color: $color-dark_gray;
   padding: 15px 25px;
   text-transform: uppercase;
}
.btn-title {
   position: absolute;
   a {
      text-transform: uppercase;
      text-decoration: none ;
      font-size: $f-small;
      color: $color-indigo;
      margin-right: 10px;
      &:hover,
      &:active {
         color: $color-indigo;
         text-decoration: none;
      }
   }
}

.btn-card {
   @extend .btn-principal;
   position: absolute;
   opacity: 0;
}