.header {
   background-color: $color-white;
   padding-bottom: 10px;
   &__banner {
      text-align: center;
      color: $color-white;
      background-color: $color-indigo;
      width: 100vw;
      padding: 12px 20px;
      margin: 0 -15px;
   }
   &__menu{
      display: flex;
      padding-top: 25px;
      @include f-center;
      &--search{
         margin-right: auto;
         width: 40%;
         input {
            padding: 8px 15px;
            width: 60%;
            font-size: $f-normal;
         }
      }
      &--icons {
         padding-right: 20px;
         margin-right: 10px;
         border-right: 1px solid $color-light_green;
         i {
            font-size: 20px;
            color: $color-salmon;
            margin: 0 5px;
         }
         .icon__cart {
            color: $color-indigo;
         }
      }
      &--sesions {
         a {
            color: $color-indigo;
            text-decoration: none;
            font-size: $f-normal;
            &:hover {
               color: $color-indigo;
            }
         }
      }
   }
   &__logo {
      display: flex;
      position: relative;
      height: 35px;
      @include f-center;
      &::before {
         content: '';
         position: absolute;
         width: 100vw;
         height: 1px;
         background-color: $color-light_green;
      }
      img {
         position: absolute;
         background-color: $color-white;
         padding: 0 25px;
      }
   }
}
#menu-principal {
   display: flex;
   margin: 0;
   list-style: none;
   margin-bottom: 20px;
   @include f-center;
   li {
      margin-right: 60px;
      &:nth-child(3) {
         margin-right: auto;
      }
      &:nth-child(n+4) {
         margin-right: 0;
         margin-left: 60px;
      }
      a {
         text-transform: uppercase;
         text-decoration: none;
         font-size: $f-normal;
         color: $color-indigo;
         &:hover {
            color: $color-indigo;
         }
      }
   }
}