.title {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   margin: 40px 0;
   h2 {
      margin: 0 auto;
      color: $color-indigo;
      font-size: 22px;
   }
}